.modalPopup .addEventForm{
  margin: 20px;
}

.modalPopup .addEventForm input[type="submit"]{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
}

.modalPopup .addEventForm input[type="number"]{
    max-width: 50px;
}

.categoriesList{
  display: flex;
  flex-direction: row;
}

.category{
  font-size: 0.8em;
  margin: 10px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 8px;
}

.delTrash{
  color: red;
  margin-left: 3px;
}
.delTrash:hover{
  cursor: pointer;
}

