# Ignore node_modules directory
node_modules/
package-lock.json

# Ignore dist directory
dist/

# Ignore environment-specific files
.env

# Ignore editor-specific files
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp


/python
.vscode
/Melvyn
/private_repo

# Remove backend/couchdb
backend/couchdb/


