# Node modules
node_modules/

# postgres
postgres-data/

# env file
.env

# Logs
*.log

# TypeScript
*.tsbuildinfo

# Cache and history
.npm/
.eslintcache
.node_repl_history

# Output directories
dist/

# IDE and system files
.vscode/
.DS_Store

# vite
.vite/

# React cache buster meta file
apps/competition-manager-web/public/meta.json

# RepoMix output
repomix-output.xml
