# Node modules
node_modules/

# postgres
postgres-data/

# env file
.env

# Logs
logs/
*.log

# TypeScript
*.tsbuildinfo

# Cache and history
.npm/
.eslintcache
.node_repl_history

# Output directories
dist/
build/

# IDE and system files
.vscode/
.DS_Store

posgres_data/

# Firebase
firebase/