.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    border: 2px solid #008AFF;
    border-radius: 5px;

    width: 100%;
    max-width: 500px;

    margin: 0 auto;

}

.athlete-summary {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
}

.athlete-summary .athlete-summary-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 80%;
}

.athlete-summary .athlete-summary-item h3 {
    text-align: left;
    width: 100%;
    margin: 0;
}

.athlete-summary .athlete-summary-item .athlete-summary-content {
    text-align: right;
    width: 100%;
}

.events-records-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 80%;
}

.events-records-summary h3 {
    text-align: left;
    width: 100%;
    margin: 0;
}

.events-records-summary-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.event-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #008AFF;
    border-radius: 5px; 
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

.event-item-time {
    font-size: 1em;
    font-weight: bold;
    width: 15%;

}

.event-item-name {
    font-size: 1em;
    width: 50%;
    text-align: left;
}

.event-item-record {
    font-size: 1em;
    width: 20%;
}

.event-item-cost {
    font-size: 1em;
    width: 10%;
}

.total-cost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 80%;
}

.total-cost-content {
    font-size: 1.2em;
    font-weight: bold;
}

/*<div className='accept-data'>
            <input type='checkbox' id='accept-data' name='accept-data' value={acceptData} onChange={(e) => setAcceptData(e.target.value)} />
            <label htmlFor='accept-data'>J'accepte l'utilisation de mes données dans le cadre de la compétition.</label>
        </div>*/

.accept-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.accept-data input {
    margin-right: 10px;

    /* bigger */
    width: 15px;
    height: 15px;
}

.accept-data label {
    font-size: 1em;
}


/* Responsive */

@media (max-width: 600px) {

    .summary {
        max-width: 300px;
    
    }
    .event-item {
        flex-wrap: wrap;
        gap: 0;
    }

    .event-item-time {
        width: 30%;
        text-align: left;
    }

    .event-item-name {
        width: 70%;
        text-align: right;
    }

    .event-item-record {
        width: 50%;
        text-align: left;
    }

    .event-item-cost {
        width: 50%;
        text-align: right;
    }
}