.page{
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1{
  text-align: center;
}

li{
  list-style-type: none;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marginRight{
  margin-right: 10px;
}

.margin{
  margin: 10px;
}

.marginBottom40{
  margin-bottom: 40px;
}

.padding{
  padding: 10px;
}

.greenBtn{
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgb(18, 216, 0);
  color: white;
}

.greenBtn:hover{
  background-color: rgb(18, 216, 0, 0.7);
  cursor: pointer;
}
.orangeBtn{
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: orange;
  color: white;
}

.orangeBtn:hover{
  background-color: rgba(255, 166, 0, 0.7);
  cursor: pointer;
}

.modifBtn{
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: orange;
  color: white;
}

.modifBtn:hover{
  background-color: rgba(255, 166, 0, 0.7);
  cursor: pointer;
}

.deleteBtn{
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: red;
  color: rgb(255, 255, 255);
}

.deleteBtn:hover{
  background-color: rgba(255, 0, 0, 0.7);
  cursor: pointer;
}

.greyBtn{
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgba(104, 101, 101);
  color: white;
}

.greyBtn:hover{
  background-color: rgba(104, 101, 101, 0.7);
  cursor: pointer;
}


.competition-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid #E5F0FF;
  border-radius: 10px;
  margin-top: 50px;
}

.displayRow{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.width50{
  width: 50%;
}

.right{
  float: right;
}

.green{
  color: green;
}

.red{
  color: red;
}

.Confirmed{
  background-color: green;
  color: white;
}

.Pending{
  background-color: white;
}

.Removed{
  background-color: red;
  color: white;
}

.Absent{
  background-color: rgb(80, 0, 0);
  color: white;
}

.Changed{
  background-color: yellow;
  color: white;
}



