.fullScreenDiv{
    margin: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 30px;
}

.fullScreenDiv .fullScreenIcon{
    height: 25px;
    transition: height 0,5s ease-in-out;
}

.fullScreenDiv .fullScreenIcon:hover{
    height: 28px;
}

#comfirmations{
    background-color: white;
}

.searchDiv .field .search-icon {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #008AFF;
    padding: 10px;
    cursor: pointer;
}

.searchDiv{
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    text-align: center;
}

.searchDiv .field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.searchDiv .field input {
    height: 50px;
    border: 2px solid #008AFF;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
}

.searchDiv .field input:focus {
    border:2px solid #008AFF;
}

.selectedAthleteDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.selected-athlete {
    font-size: 15px;
}

.inscriptionList {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    text-align: center;
}

.inscriptionList .inscriptionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.btnDiv{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btnDiv button{
    min-width: 100px;
}

.list-athletes .athlete-over {
    background-color: #E5F0FF;
    cursor: pointer;
}