.participants {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.participants-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    padding: 5px 0px;
    margin-bottom: 2px;
}

.participants-item .participants-item-bib {
    font-size: 1.2em;
    font-weight: bold;
    width: 15%;
    text-align: center;
}

.participants-item .participants-item-athlete {
    font-size: 1.2em;
    width: 40%;
}

.participants-item .participants-item-club {
    font-size: 1.2em;
    width: 15%;
    text-align: center;
}

.participants-item .participants-item-record {
    font-size: 1.2em;
    width: 20%;
    text-align: center;
}

.participants-item .participants-item-del {
    font-size: 1.2em;
    width: 5%;
    text-align: center;
    cursor: pointer;
}

.participants-item .participants-item-del:hover {
    opacity: 0.7;
}

.participants-item .participants-item-edit {
    font-size: 1.2em;
    width: 5%;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 217, 0);
}

.participants-item .participants-item-edit:hover {
    opacity: 0.7;
}

/* Responsive */

@media (max-width: 550px) {
    .participants-item {
        flex-wrap: wrap;
        padding: 0;
    }

    .participants-item .participants-item-bib {
        font-size: 1em;
        width: 30%;
        text-align: left;
    }

    .participants-item .participants-item-athlete {
        font-size: 1em;
        width: 70%;
        text-align: right;
    }

    .participants-item .participants-item-club {
        font-size: 1em;
        width: 30%;
        text-align: left;
    }

    .participants-item .participants-item-record {
        font-size: 1em;
        width: 70%;
        text-align: right;
    }
}


.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 0;
}

.event-header .time {
    font-size: 1.5rem;
    font-weight: bold;
    width: 20%;
    text-align: center;
}

.event-header .name {
    font-size: 1.5rem;
    font-weight: bold;
    width: 50%;
    text-align: center;
}

.event-header .nb-participants {
    font-size: 1.2rem;
    width: 30%;
    text-align: center;
}

/* Responsive */

@media (max-width: 550px) {
    .event-header {
        flex-wrap: wrap;
        padding: 0;
        padding: 10px 0;
    }

    .event-header .time {
        font-size: 1rem;
        width: auto;
        order: 2;
        padding-left: 10px;
    }

    .event-header .name {
        font-size: 1rem;
        width: 100%;
        order: 1;
        margin-bottom: 10px;
    }

    .event-header .nb-participants {
        font-size: 0.8rem;
        width: auto;
        order: 3;
        padding-right: 10px;
    }
}

.event-div{
    margin: 30px 20px;
    border: 2px solid #008AFF;
    border-radius: 5px;
    padding: 10px;
}

.fieldFilterEvent {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px;
}

.fieldFilterEvent input {
    height: 50px;
    border: 2px solid #008AFF;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
}

.fieldFilterEvent input:focus {
    border:2px solid #008AFF;
}

.fieldFilterEvent .search-icon {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #008AFF;
    padding: 10px;
    cursor: pointer;
}

.schedule{
    width: 100%;
}

.pl-close-btn{
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgb(253, 104, 104);
}

.pl-close-btn:hover{
    background-color: rgb(219, 0, 0);
    cursor: pointer;
}

.pl-open-btn{
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgb(190, 190, 190);
}

.pl-open-btn:hover{
    background-color: rgba(104, 101, 101, 0.7);
    cursor: pointer;
}

