.footer {
    background-color: lightgray;    
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}

.footer .footer-content {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.footer .footer-content .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
    max-width: 400px;
}

.footer .footer-content .left .text {
}

.footer .footer-content .left .certification {
    font-size: 20px;
    font-weight: 500;
}

.footer .footer-content .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
}

.footer .footer-content .right .title {
    font-size: 20px;
    font-weight: 500;
}

.footer .footer-content .right .name {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.footer .footer-content .right ul {
    list-style: none;
    padding: 0;
}


.footer .footer-content .right li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.footer .footer-content .right li a {
    text-decoration: none;
    color: black;
}



.footer .footer-content .right .social {
    display: flex;
    gap: 20px;
}

.footer .footer-content .right .social .email {
    font-size: 20px;
    font-weight: 500;
}

