/*
<div className='form'>
                <div className='form-group'>
                    <label htmlFor="firstName">Prénom</label>
                    <input type="text" id='firstName' value={firstName} onChange={(e)=>{setFirstName(e.target.value)}} />
                </div>
                <div className='form-group'>
                    <label htmlFor="lastName">Nom</label>
                    <input type="text" id='lastName' value={lastName} onChange={(e)=>{setLastName(e.target.value)}} />
                </div>
                <div className='form-group'>
                    <label htmlFor="birthDate">Date de naissance</label>
                    <input type="date" id='birthDate' value={birthDate} onChange={(e)=>{setBirthDate(e.target.value)}} />
                </div>
                <div className='form-group radio'>
                    <label htmlFor="male">Homme</label>
                    <input type="radio" id="male" name='gender' value="Male" onChange={(e)=>{setGender(e.target.value)} } />
                    <label htmlFor="female">Femme</label>
                    <input type="radio" id='female' name='gender' value="Female" onChange={(e)=>{setGender(e.target.value)}} />
                </div>
            </div>
            <button className='submit' onClick={()=>{postAthlete()} }>Enregistrer</button>
            */

.one-day-athlete {
    display: flex;
    flex-direction: column;
    align-items: center;
    .form {
        max-width: 500px;
        display: flex;
        flex-direction: column;

        .form-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 10px 0;
            label {
                text-align: left;
                font-size: 1.2em;
                font-weight: bold;
                width: 40%;
            }
            input {
                width: 50%;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #008AFF;
            }

            
        }

        .form-group.radio {
            label {
                width: auto;
            }  
            input {
                width: 20px;

            }
        }
        
    }

    .submit {
        margin-top: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: white;
        border: 3px solid #008AFF;
        color: Black;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            background-color: #008AFF;
            color: white;
        }
    }
}