:root {
    --primary-color: #008AFF;
    --light-primary-color: #E5F0FF;
    --secondary-color: #FF4141;
    --light-grey: #F5F5F5;
    --dark-grey: #515151;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

a {
    text-decoration: none;
    color: inherit;
}


.page {
    margin: 0 auto 50px;
    max-width: 1200px;
    padding: 0 20px;
}

.page-title {
    text-align: center;
}

.live-connection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 20px;
}

.competition-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #E5F0FF;
    border-radius: 10px;
    margin-top: 20px;
}

.error-message {
    color: red;
    text-align: center;
}

.width-100 {
    width: 100%;
}

.logout-btn {
    width: 200px;
    height: 40px;
    outline: none;
    border: 1px solid #ff4141;
    border-radius: 75px;
    background-color: white;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.email-not-verified {
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.email-not-verified h2 {
    color: var(--secondary-color);
    font-size: 2rem;
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
}

.email-not-verified p {
    font-size: 1.5rem;
    margin: 0;
}

.email-not-verified ul {
    display: flex;
    flex-direction: column;

    margin-left: 2rem;

    list-style-type: none;
    padding: 0;
    gap: 1rem;
}

.email-not-verified ul li::before {
    content: "•";
    color: var(--secondary-color);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 2rem;
}

.email-not-verified .resend-btn {
    height: 40px;
    outline: none;
    border: 1px solid var(--secondary-color);
    border-radius: 75px;
    background-color: white;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

