:root {
    --primary-color: #008AFF;
    --light-primary-color: #E5F0FF;
    --secondary-color: #FF4141;;
    --light-grey: #F5F5F5;
    --dark-grey: #515151;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}


.page {
    margin: 0 auto 50px;
    max-width: 1200px;
    padding: 0 20px;
}

.page-title {
    text-align: center;
}

.competition-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #E5F0FF;
    border-radius: 10px;
    margin-top: 50px;
}

.error-message {
    color: red;
    text-align: center;
}

.width-100 {
    width: 100%;
}

